body,
html {
    max-width: 100vw;
    margin: 0;
    padding: 0;
}

.section-img {
    max-height: 500px;
    width: auto;
    border-radius: 1rem;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 2px 2px 5px 0px rgba(66, 68, 90, 1);
    box-shadow: 2px 2px 5px 0px rgba(66, 68, 90, 1);
}

.icon {
    max-width: 2rem;
}

.text-highlighted {
    color: #636363;
    font-weight: 700;
}

.height-100 {
    height: 100%;
}

#header {
    margin: auto;
    width: 40%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 2px 2px 5px 0px rgba(66, 68, 90, 1);
    box-shadow: 2px 2px 5px 0px rgba(66, 68, 90, 1);
}

.first-section {
    text-align: center;
    height: 60vh
}

.first-section-bg-image {
    height: 60vh;
    background-size: cover;
    background-image: url('./images/Background_logo1.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.first-section h1 {
    font-size: 2rem;
}

.lead {
    color: black;
}

/*Navbar */
#navbarNav {
    overflow: hidden;
    transition: height 200ms;
}

.navbar-brand {
    color: black;
}

.nav-link {
    color: #303841;
}

/*Navbar button*/
.navbar-toggler,
.navbar-toggler:hover,
.navbar-toggler:active,
.navbar-toggler:visited,
.navbar-toggler:link {
    outline-color: #303841;
    outline-style: none;
    padding: 1rem;
    border-style: none;
}

#nav-line-1,
#nav-line-2 {
    width: 30px;
    height: 2px;
    background-color: rgb(0, 0, 0);
    margin: 3px 0;
    transition: 0.2s;
}

.animation-left {
    -webkit-transform: rotate(-45deg) translate(0px, 0px);
    transform: rotate(-45deg) translate(-2px, 2px);
}

.animation-right {
    -webkit-transform: rotate(45deg) translate(0px, 0px);
    transform: rotate(45deg) translate(-2px, -2px);
}

.hr-text {
    display: flex;
    flex-direction: row;
}

.hr-text:before,
.hr-text:after {
    color: rgba(128, 128, 128, 0.5);
    content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    margin: auto;
}

.hr-text:before {
    margin-right: 1rem;
}

.hr-text:after {
    margin-left: 1rem;
}


@media only screen and (max-width: 1200px) {
    #header {
        width: 50%;
    }
}

@media only screen and (max-width: 720px) {
    #header {
        width: 60%;
        background-color: rgba(255, 255, 255, 0.9);
    }
}

@media only screen and (max-width: 576px) {
    #header {
        width: 80%;
    }

    .first-section h1 {
        font-size: 1.6rem;
    }
}